.todo-enter {
    opacity: 0;
    transform: translateX(-30%);
  }
  .todo-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 500ms linear;
  }
  .todo-exit {
    opacity: 1;
  }
  .todo-exit-active {
    opacity: 0;
    transform: translateX(10%) scale(0.7);
    transition: all 100ms linear;
  }
  
